<a href="https://colab.research.google.com/github/Danddt/Russian_Opinion_Polls/blob/main/ross_stat_gdp_manual_harvest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
url = 'https://rosstat.gov.ru/storage/mediabank/152_09-09-2022.html'
tables = pd.read_html(url)

In [ ]:
data= tables[0].iloc[1:]
data

,0,1,2
1,NaN,соответствующемупериоду предыдущего года,предыдущемупериоду
2,2021г.,2021г.,2021г.
3,I квартал,997,820
4,II квартал,1105,1086
5,I полугодие,1050,NaN
6,III квартал,1040,1068
7,Январь-сентябрь,1046,NaN
8,IV квартал,1050,1104
9,Год,1047,NaN
10,2022г.,2022г.,2022г.
11,I квартал,1035,808
12,II квартал,959,1006
13,I полугодие,996,NaN

In [ ]:
#take only dta for 2022 and skip 'half year data', keeping quarters only
data_2022 = data.iloc[-3:-1, :2].dropna() 
data_2022 .columns=['Quarter', 'gdp_growth']

In [ ]:
#changes made for match WOrld Bank format
data_2022['gdp_growth_WBstyle']=(data_2022['gdp_growth'].astype(int)/10) #reintroduce decimal point

In [ ]:
data_2022['gdp_growth_WBstyle'].astype(float)

11    103.5
12     95.9
Name: gdp_growth_WBstyle, dtype: float64

In [ ]:
data_2022['gdp_growth_WBstyle'] =data_2022['gdp_growth_WBstyle']-100

In [ ]:
data_2022

       Quarter gdp_growth  gdp_growth_WBstyle
11   I квартал       1035                 3.5
12  II квартал        959                -4.1

Q1 refers to Quarter 1 (Jan to Mar), Q2 refers to Quarter 2 (Apr to June), Q3 refers to Quarter 3 (July to Sept) and Q4 refers to Quarter 4 (Oct to Dec).

In [ ]:
quarters  = ['2022-01-1','2022-06-01']


data_2022['year']= quarters

In [ ]:
data_2022

       Quarter gdp_growth  gdp_growth_WBstyle        year
11   I квартал       1035                 3.5   2022-01-1
12  II квартал        959                -4.1  2022-06-01

In [ ]:
data_2022.to_csv('/content/Russ_Stat_Office/gdp_growth_ross.csv', index=False)